table {
    border-collapse: collapse;
    margin: 20px 10px;
    width: 90%;
}

thead tr{
    background-color: #4CAF50 !important;
    color: white !important;
}

thead tr :first-child{
    border-radius: 16px 0px 0px 0px;
}

thead tr :last-child{
    border-radius: 0px 16px 0px 0px;
}

th,
tbody td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd !important;
}

tbody tr :last-child button{
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tfoot{
    border-color: transparent !important;
    border-style: none !important;
}

tfoot tr{
    background-color: #4CAF50 !important;
}

tfoot tr td{
    border-radius: 0px 0px 16px 16px;
    padding: 8px !important;
}

.table {
    display: flex;
    justify-content: center;
}


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
}